<%= turbo_frame_tag :message_status %>
<div class="message mb-2 <%= 'me' if message.sender == current_user %>"
   id=<%= "#{dom_id(message)}" %>
    <% if message.sender != current_user %>
      status="<%= message.read ? "read" : "unread" %>"
    <% end %>
  >
  <div class="content-container">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= message.sender.name %>
    </div>
  </div>
</div>
